/* CSS RESET MEYER */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* CUSTOM CSS */

/* General > elements */
main {
  width: 600px;
  box-sizing: border-box;
  padding: 0px 40px;
}

p {
  padding: 10px 0px;
}

/* (vertical) header */
.container-body {
	display:flex;
	flex-wrap: wrap;
}

.body-item {
	width:50%;
} 

img.background-img {
  width: 50%;
  height: 100%;
  top: 0;
  left: 0px;
  position: absolute;
}

.black-bar {
  width: 50%;
  height: 12%;
  top: 100px;
  left: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.odin-logo {
  position: absolute;
  top: 0px;
  left: 12rem;
  width: 5rem;
  height:100%;
}

.odin-logo-text {
  position: absolute;
  top: 2rem;
  left: 20rem;
  width: 20rem;
  font-size: 30px;
  color: white;
}

/* text block */
.description {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 25px;
}

main > div > div > p {
	padding-top: 30px;
}

/* form field */
.container-form {
  display: flex;
  justify-content:flex-start;
  gap: 10px;
  flex-wrap:wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height:100px;
  margin:20px 120px 20px 0px;
}

.column > input {
  border: none;
  border-radius: 5px;
}

/* form field : responsive input fields */
.column > input:invalid {
  border: 2px solid red;
}

.column > input:focus {
  border: 1px solid black;
  box-shadow: 2px 2px green;
  outline: none;
} 

/* form field > label styling */
input,
label {
  display: block;
}

label {
	font-family:'Courier New', Courier, monospace;
	font-size: 18px;
}

/* General > buttons */
.button {
  background-color: green;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 2px;
  cursor: pointer;
}

.button-section > div > label {
  display: inline;
}

.button-section > div > label {
	font-family: Arial, Helvetica, sans-serif;
}

#login-button {
  background-color: white;
  color: green;
  margin: 0px;
}

#login-button:active {
  color: green;
  background-color: black;
}

#createAccount-button:active {
  color: green;
  background-color: black;
}


/* media query's */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    display:none;
  }
  
  main {
    width: 100%;
    margin:auto;
  }

  main > div > div > p {
    padding-top:10px;
  }

  label {
    font-size: 12px;
  }

  .description {
    margin-top: 2px;
    margin-bottom: 5px;
    font-size: 15px;
  }

  .column {
    flex-basis: 20%;
    margin:0px;
    height:50px;
  }
}


/* Small and medium devices (portrait tablets, large phones, landscape tablets) */
@media only screen and (min-width: 600px) and (max-width: 992px) {

  main {
    margin:auto;
  }

  .column {
    margin:0px;
  }

  img.background-img {
    width: 100%;
    height:30%;
    position: absolute;
  }

  .black-bar {
    width:100%;
  }

  .container-body {
    flex-direction: column;
  }

  .description {
    margin-top: 278px;
  }
}
